body{
    margin: 0;
    font-family: sans-serif;
}

.container{
    max-width: 1680px;
}

.topbar{
    background-image: url("img/john-looy-X3DZ1c7MPa4-unsplash.png");
    background-size: cover;
    padding: 68px 88px 0;
}

#nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 19px;
    box-shadow: 0 10px 15px rgba(2, 2, 2, 0.1);
    border-radius: 2px;
    font-weight: lighter;
}

#nav > div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.picto{
    margin-left: 20px;
}

.navlinks{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}